<h3>{{ data.title }}</h3>

<p><strong>ID:</strong> {{ data.id }}</p>

<p><strong>Last Updated:</strong> {{ data.updated_at_human }}</p>

<tabset class="nav nav-tabs">
    <tab class="tab-pane">
        <tab-heading>Content
            <span ng-show="errors.title || errors.markup" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.title}">
            <label for="title" class="control-label">Title</label>
            <input type="text" id="title" class="form-control" ng-model="data.title" placeholder="Enter project name"/>
            <p ng-repeat="error in errors.title" class="help-block">{{ error }}</p>
        </div>


        <div class="form-group" ng-class="{'has-error':errors.markup}">
            <label for="markup" class="control-label">Body text</label>

            <div class="row">

                <div class="col-sm-6">
                    <textarea id="markup" class="form-control" ng-model="data.markup" placeholder="Enter project content" rows="5"></textarea>
                </div>

                <div class="col-sm-6">
                    <div class="well" marked="data.markup"></div>
                </div>

                <p ng-repeat="error in errors.markup" class="help-block">{{ error }}</p>

            </div>
        </div>

    </tab>
    <tab>
        <tab-heading>SEO
            <span ng-show="errors.slug || errors.seo_title || errors.seo_description" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.slug}">
            <label for="title" class="control-label">Slug</label>
            <input type="text" id="slug" class="form-control" ng-model="data.slug" placeholder="Enter project URL" ng-change="slugWarning()"/>
            <p ng-repeat="error in errors.slug" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.seo_title}">
            <label for="seo_title" class="control-label">SEO Title</label>
            <input type="text" id="seo_title" class="form-control" ng-model="data.seo_title" placeholder="Enter page title to appear on SERP's"/>
            <p ng-repeat="error in errors.seo_title" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.seo_description}">
            <label for="seo_description" class="control-label">Seo</label>
            <textarea id="seo_description" class="form-control" ng-model="data.seo_description" placeholder="Enter page description to appear on SERP's" rows="5"></textarea>
            <p ng-repeat="error in errors.seo_description" class="help-block">{{ error }}</p>
        </div>

    </tab>
    <tab>

        <tab-heading>Extra
            <span ng-show="errors.styles || errors.scripts" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.styles}">
            <label for="styles" class="control-label">Styles</label>
            <textarea id="styles" class="form-control" ng-model="data.styles" placeholder="Enter CSS" rows="5"></textarea>
            <p ng-repeat="error in errors.styles" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.scripts}">
            <label for="scripts" class="control-label">Scripts</label>
            <textarea id="scripts" class="form-control" ng-model="data.scripts" placeholder="Enter Javascript" rows="5"></textarea>
            <p ng-repeat="error in errors.scripts" class="help-block">{{ error }}</p>
        </div>

    </tab>

    <tab>

        <tab-heading>Settings
            <span ng-show="errors.url || errors.featured || errors.template" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.url}">
            <label for="url" class="control-label">Redirect URL</label>
            <input type="text" id="url" class="form-control" ng-model="data.url" placeholder="Enter the URL to redirect to"/>
            <p ng-repeat="error in errors.url" class="help-block">{{ error }}</p>
        </div>

        <div class="checkbox" ng-class="{'has-error':errors.featured}">
            <label class="control-label">
                <input type="checkbox" id="featured" ng-model="data.featured" ng-true-value="1" ng-false-value="0"/>
                Featured
            </label>
            <p ng-repeat="error in errors.featured" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.template}">
            <label for="template" class="control-label">Template</label>
            <input type="text" id="template" class="form-control" ng-model="data.template" placeholder="Alternative template to use"/>
            <p ng-repeat="error in errors.template" class="help-block">{{ error }}</p>
        </div>
    </tab>

    <tab>

        <tab-heading>Sections
            <span ng-show="" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <div class="alert alert-info" ng-show="create">Please save the project before adding sections</div>

        <div ng-hide="create">

            <a ng-click="editSection(true)" class="btn btn-primary pull-right">Add Section</a>

            <table class="table" ng-table="tableParams" show-filter="true" >
                <tr ng-repeat="section in $data">
                    <td data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">
                        {{section.id}}
                    </td>
                    <td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">
                        <a href="#section/{{ section.id }}/edit">
                            {{section.markup|limitTo : 50}}
                        </a>
                    </td>
                    <td data-title="'Created'" sortable="'created_at'">
                        {{project.created_at}}
                    </td>
                    <td>
                        <a ng-click="editSection(false, section.id)" class="btn btn-primary">Edit</a>
                        <a ng-click="deleteSection(section.id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </table>

        </div>

    </tab>


</tabset>

<br/>

<button ng-click="save()" class="btn btn-primary">Save</button> <button ng-click="save(true)" class="btn btn-info">Apply</button>





<script type="text/ng-template" id="sectionEdit.html">
        <div class="modal-header">
            <h3 class="modal-title">Section: {{section.id}}</h3>
        </div>
        <div class="modal-body">


            <div class="form-group" ng-class="{'has-error':errors.markup}">
	            <label for="markup" class="control-label">Body text</label>

	            <div class="row">

	                <div class="col-sm-6">
	                    <textarea id="markup" class="form-control" ng-model="section.markup" placeholder="Enter section content" rows="5"></textarea>
	                </div>

	                <div class="col-sm-6">
	                    <div class="well" marked="section.markup"></div>
	                </div>

	                <p ng-repeat="error in errors.markup" class="help-block">{{ error }}</p>

	            </div>
	        </div>

            <div class="form-group" ng-class="{'has-error':errors.styles}">
                <label for="section-styles" class="control-label">Styles</label>
                <textarea id="section-styles" class="form-control" ng-model="section.styles" placeholder="Enter CSS" rows="5"></textarea>
                <p ng-repeat="error in errors.styles" class="help-block">{{ error }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error':errors.scripts}">
                <label for="scripts" class="control-label">Scripts</label>
                <textarea id="scripts" class="form-control" ng-model="section.scripts" placeholder="Enter Javascript" rows="5"></textarea>
                <p ng-repeat="error in errors.scripts" class="help-block">{{ error }}</p>
            </div>

            <div class="form-group" ng-class="{'has-error':errors.url}">
                <label for="section-rank" class="control-label">Rank</label>
                <input type="text" id="section-rank" class="form-control" ng-model="section.rank" placeholder="Rank (Integer)"/>
            <p ng-repeat="error in errors.rank" class="help-block">{{ error }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">Save</button>
<!--             <button class="btn btn-info" ng-click="save(true)">Apply</button> -->
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>