<h3>{{ data.title }}</h3>

<p><strong>ID:</strong> {{ data.id }}</p>

<p><strong>Last Updated:</strong> {{ data.updated_at_human }}</p>

<tabset class="nav nav-tabs">
    <tab class="tab-pane">
        <tab-heading>Content
            <span ng-show="errors.title || errors.markup" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.title}">
            <label for="title" class="control-label">Title</label>
            <input type="text" id="title" class="form-control" ng-model="data.title" placeholder="Enter project name"/>
            <p ng-repeat="error in errors.title" class="help-block">{{ error }}</p>
        </div>


        <div class="form-group" ng-class="{'has-error':errors.markup}">
            <label for="markup" class="control-label">Body text</label>

            <div class="row">

                <div class="col-sm-6">
                    <textarea id="markup" class="form-control" ng-model="data.markup" placeholder="Enter project content" rows="5"></textarea>
                </div>

                <div class="col-sm-6">
                    <div class="well" marked="data.markup"></div>
                </div>

                <p ng-repeat="error in errors.markup" class="help-block">{{ error }}</p>

            </div>
        </div>

    </tab>
    <tab>
        <tab-heading>SEO
            <span ng-show="errors.slug || errors.seo_title || errors.seo_description" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.slug}">
            <label for="title" class="control-label">Slug</label>
            <input type="text" id="slug" class="form-control" ng-model="data.slug" placeholder="Enter project URL" ng-change="slugWarning()"/>
            <p ng-repeat="error in errors.slug" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.seo_title}">
            <label for="seo_title" class="control-label">SEO Title</label>
            <input type="text" id="seo_title" class="form-control" ng-model="data.seo_title" placeholder="Enter page title to appear on SERP's"/>
            <p ng-repeat="error in errors.seo_title" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.seo_description}">
            <label for="seo_description" class="control-label">Seo</label>
            <textarea id="seo_description" class="form-control" ng-model="data.seo_description" placeholder="Enter page description to appear on SERP's" rows="5"></textarea>
            <p ng-repeat="error in errors.seo_description" class="help-block">{{ error }}</p>
        </div>

    </tab>
    <tab>

        <tab-heading>Extra
            <span ng-show="errors.styles || errors.scripts" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.styles}">
            <label for="styles" class="control-label">Styles</label>
            <textarea id="styles" class="form-control" ng-model="data.styles" placeholder="Enter CSS" rows="5"></textarea>
            <p ng-repeat="error in errors.styles" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.scripts}">
            <label for="scripts" class="control-label">Scripts</label>
            <textarea id="scripts" class="form-control" ng-model="data.scripts" placeholder="Enter Javascript" rows="5"></textarea>
            <p ng-repeat="error in errors.scripts" class="help-block">{{ error }}</p>
        </div>

        <tags-input ng-model="data.tags" display-property="title"></tags-input>

    </tab>

    <tab>

        <tab-heading>Settings
            <span ng-show="errors.url || errors.featured || errors.template" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <br/>

        <div class="form-group" ng-class="{'has-error':errors.url}">
            <label for="url" class="control-label">Redirect URL</label>
            <input type="text" id="url" class="form-control" ng-model="data.url" placeholder="Enter the URL to redirect to"/>
            <p ng-repeat="error in errors.url" class="help-block">{{ error }}</p>
        </div>

        <div class="checkbox" ng-class="{'has-error':errors.featured}">
            <label class="control-label">
                <input type="checkbox" id="featured" ng-model="data.featured" ng-true-value="1" ng-false-value="0"/>
                Featured
            </label>
            <p ng-repeat="error in errors.featured" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.template}">
            <label for="template" class="control-label">Template</label>
            <input type="text" id="template" class="form-control" ng-model="data.template" placeholder="Alternative template to use"/>
            <p ng-repeat="error in errors.template" class="help-block">{{ error }}</p>
        </div>
    </tab>

    <tab>

        <tab-heading>Sections
            <span ng-show="" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <div class="alert alert-info" ng-show="create">Please save the project before adding sections</div>

        <div ng-hide="create">

            <a ng-click="editSection(true)" class="btn btn-primary pull-right">Add Section</a>

            <div ui-tree="options" id="tree-root" class="well" style="clear: both;">
                <ol ui-tree-nodes ng-model="data.sections" class="Menu">
                    <li ng-repeat="item in data.sections" ui-tree-node ng-include="'sectionIndexItem.html'"></li>
                </ol>
            </div>

        </div>

    </tab>


    <tab>

        <tab-heading>Pages
            <span ng-show="" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <div class="alert alert-info" ng-show="create">Please save the project before adding pages</div>

        <div ng-hide="create">

            <a ng-click="editPage(true)" class="btn btn-primary pull-right">Add Page</a>

            <table class="table" ng-table="tableParams" show-filter="true" >
                <tr ng-repeat="page in $data">
                    <td data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">
                        {{page.id}}
                    </td>
                    <td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">
                        <a href="#page/{{ page.id }}/edit">
                            {{page.title}}
                        </a>
                    </td>
                    <td data-title="'Created'" sortable="'created_at'">
                        {{page.created_at}}
                    </td>
                    <td>
                        <a ng-click="editPage(false, page.id)" class="btn btn-primary">Edit</a>
                        <a ng-click="deletePage(page.id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </table>

        </div>

    </tab>


    <tab ui-sref="project.edit.assets({id: data.id, type: 'projects'})" >

        <tab-heading>Assets
            <span ng-show="" class="text-danger glyphicon glyphicon-exclamation-sign"> </span>
        </tab-heading>

        <div class="alert alert-info" ng-show="create">Please save the project before adding pages</div>

        <div ng-hide="create">

            <!-- <div ng-include="'/vendor/portfolio/admin/views/assets/assets.html'" onload="init('lush')"></div> -->

            <div ui-view></div>

        </div>

    </tab>



</tabset>



<br/>

<button ng-click="save()" class="btn btn-primary">Save</button> <button ng-click="save(true)" class="btn btn-info">Apply</button>



<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Debug</button>

<div collapse="!isCollapsed">
    <hr/>
    <pre>
        {{ data | json }}
    </pre>
</div>



<script type="text/ng-template" id="sectionIndexItem.html">
    <div ui-tree-handle>
        <span class="glyphicon glyphicon-align-justify" style="padding-right: 12px; color: rgba(0, 0, 0, 0.2);">&nbsp;</span>

        <!--
        <a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-plus"></span> Sub-Item
        </a>
        -->

        <a class="btn btn-success btn-xs" data-nodrag ng-click="editSection(false, item.id)"  style="margin-right: 8px;">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </a>

        <a class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="deleteSection(item.id)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <strong>{{ item.id }}</strong> <span>{{ item.created_at }}</span>

    </div>
</script>


<script type="text/ng-template" id="sectionEdit.html">
    <div class="modal-header">
        <h3 class="modal-title">Section: {{section.id}}</h3>
    </div>
    <div class="modal-body">

        <div ng-repeat="error in errors" class="alert alert-danger" ng-show="errors">
            <ul>
                <li ng-repeat="message in error track by $index">{{ message }}</li>
            </ul>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.markup}">
            <label for="markup" class="control-label">Body text</label>

            <div class="row">

                <div class="col-sm-6">
                    <textarea id="markup" class="form-control" ng-model="section.markup" placeholder="Enter section content" rows="5"></textarea>
                </div>

                <div class="col-sm-6">
	                <style ng-bind="section.styles"></style>

                    <div class="well" marked="section.markup"></div>
                </div>

                <p ng-repeat="error in errors.markup" class="help-block">{{ error }}</p>

            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.styles}">
            <label for="section-styles" class="control-label">Styles</label>
            <textarea id="section-styles" class="form-control" ng-model="section.styles" placeholder="Enter CSS" rows="5"></textarea>
            <p ng-repeat="error in errors.styles" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.scripts}">
            <label for="scripts" class="control-label">Scripts</label>
            <textarea id="scripts" class="form-control" ng-model="section.scripts" placeholder="Enter Javascript" rows="5"></textarea>
            <p ng-repeat="error in errors.scripts" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.url}">
            <label for="section-rank" class="control-label">Rank</label>
            <input type="text" id="section-rank" class="form-control" ng-model="section.rank" placeholder="Rank (Integer)"/>
        <p ng-repeat="error in errors.rank" class="help-block">{{ error }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Save</button>
<!--             <button class="btn btn-info" ng-click="save(true)">Apply</button> -->
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>



<script type="text/ng-template" id="pageEdit.html">
    <div class="modal-header">
        <h3 class="modal-title">Page: {{page.id}}</h3>
    </div>
    <div class="modal-body">

        <div ng-repeat="error in errors" class="alert alert-danger" ng-show="errors">
            <ul>
                <li ng-repeat="message in error track by $index">{{ message }}</li>
            </ul>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.title}">
            <label for="title" class="control-label">Title</label>
            <input type="text" id="title" class="form-control" ng-model="page.title" placeholder="Enter project name"/>
            <p ng-repeat="error in errors.title" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.slug}">
            <label for="title" class="control-label">Slug</label>
            <input type="text" id="slug" class="form-control" ng-model="page.slug" placeholder="Enter project URL" ng-change="slugWarning()"/>
            <p ng-repeat="error in errors.slug" class="help-block">{{ error }}</p>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.markup}">
            <label for="markup" class="control-label">Body text</label>

            <div class="row">

                <div class="col-sm-6">
                    <textarea id="markup" class="form-control" ng-model="page.markup" placeholder="Enter project content" rows="5"></textarea>
                </div>

                <div class="col-sm-6">
                    <div class="well" marked="page.markup"></div>
                </div>

                <p ng-repeat="error in errors.markup" class="help-block">{{ error }}</p>

            </div>
        </div>

    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Save</button>
<!--             <button class="btn btn-info" ng-click="save(true)">Apply</button> -->
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>