<div class="alert alert-danger" ng-show="errors">
    <ul ng-repeat="error in errors">
        <li ng-repeat="desc in error">{{ desc }}</li>
    </ul>
</div>


<a href="#project/create" class="btn btn-primary pull-right">Create new project</a>

<h2>Project Sections</h2>

<table class="table" ng-table="tableParams" show-filter="true" >
    <tr ng-repeat="section in $data">
        <td data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">
            {{section.id}}
        </td>
        <td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">
            <a href="#project/{{ project.id }}/edit">
                {{section.rank}}
            </a>
        </td>
        <td data-title="'Created'" sortable="'created_at'">
            {{project.created_at}}
        </td>
        <td>
            <a href="#project/{{ project.id }}/edit" class="btn btn-primary">Edit</a>
            <a ng-click="delete(project.id)" class="btn btn-danger">Delete</a>
        </td>
    </tr>
</table>
