<div class="alert alert-danger" ng-show="errors">
    <ul ng-repeat="error in errors">
        <li ng-repeat="desc in error">{{ desc }}</li>
    </ul>
</div>

<h2>Project: {{ data.title }}</h2>

<form>

    <p><strong>ID:</strong> {{ data.id }}</p>

    <p><strong>Last Updated:</strong> {{ data.updated_at }}</p>

    <div class="form-group" ng-class="{'has-error':errors.title}">
        <label for="title" class="control-label">Title</label>
        <input type="text" id="title" class="form-control" ng-model="data.title" placeholder="Enter project name"/>
        <p ng-repeat="error in errors.title" class="help-block">{{ error }}</p>
    </div>

    <div class="form-group" ng-class="{'has-error':errors.markup}">
        <label for="markup" class="control-label">Body text</label>
        <textarea id="markup" class="form-control" ng-model="data.markup" placeholder="Enter project content" rows="5"></textarea>
        <p ng-repeat="error in errors.markup" class="help-block">{{ error }}</p>
    </div>

    <hr/>

    <div class="form-group" ng-class="{'has-error':errors.slug}">
        <label for="title" class="control-label">Slug</label>
        <input type="text" id="slug" class="form-control" ng-model="data.slug" placeholder="Enter project URL"/>
        <p ng-repeat="error in errors.slug" class="help-block">{{ error }}</p>
    </div>

    <div class="form-group" ng-class="{'has-error':errors.seo_title}">
        <label for="seo_title" class="control-label">SEO Title</label>
        <input type="text" id="seo_title" class="form-control" ng-model="data.seo_title" placeholder="Enter page title to appear on SERP's"/>
        <p ng-repeat="error in errors.seo_title" class="help-block">{{ error }}</p>
    </div>

    <div class="form-group" ng-class="{'has-error':errors.seo_description}">
        <label for="seo_description" class="control-label">Seo</label>
        <textarea id="seo_description" class="form-control" ng-model="data.seo_description" placeholder="Enter page description to appear on SERP's" rows="5"></textarea>
        <p ng-repeat="error in errors.seo_description" class="help-block">{{ error }}</p>
    </div>

    <hr/>

    <div class="form-group" ng-class="{'has-error':errors.styles}">
        <label for="styles" class="control-label">Styles</label>
        <textarea id="styles" class="form-control" ng-model="data.styles" placeholder="Enter CSS" rows="5"></textarea>
        <p ng-repeat="error in errors.styles" class="help-block">{{ error }}</p>
    </div>

    <div class="form-group" ng-class="{'has-error':errors.scripts}">
        <label for="scripts" class="control-label">Scripts</label>
        <textarea id="scripts" class="form-control" ng-model="data.scripts" placeholder="Enter Javascript" rows="5"></textarea>
        <p ng-repeat="error in errors.scripts" class="help-block">{{ error }}</p>
    </div>

    <div class="form-group" ng-class="{'has-error':errors.url}">
        <label for="url" class="control-label">Redirect URL</label>
        <input type="text" id="url" class="form-control" ng-model="data.url" placeholder="Enter the URL to redirect to"/>
        <p ng-repeat="error in errors.url" class="help-block">{{ error }}</p>
    </div>

    <div class="checkbox" ng-class="{'has-error':errors.featured}">
        <label class="control-label">
            <input type="checkbox" id="featured" ng-model="data.featured" ng-true-value="'1'" ng-false-value="'0'"/>
            Featured
        </label>
        <p ng-repeat="error in errors.featured" class="help-block">{{ error }}</p>
    </div>

    <div class="form-group" ng-class="{'has-error':errors.template}">
        <label for="template" class="control-label">Template</label>
        <input type="text" id="template" class="form-control" ng-model="data.template" placeholder="Alternative template to use"/>
        <p ng-repeat="error in errors.template" class="help-block">{{ error }}</p>
    </div>

    <button ng-click="save()" class="btn btn-default">Save</button>

</form>