
<ul>
    <li ng-repeat="file in model.files">
        <strong>{{ file.filename }}</strong>
        <img ng-src="/portfolio/{{ file.path }}" style="max-width: 100px;"/>
    </li>
</ul>


<!--
<input type="file" id="file1"/>

<button ng-click="uploadFile()">Upload</button>
-->


<hr/>

<div class="well">
    <img ngf-src="file" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'" style="max-width: 240px;">
    <button class="btn btn-default" ngf-select ng-model="file">Browse</button>
    
    <input type="text" class="form-control" ng-model="name"/>
</div>

<button class="btn btn-primary" ng-click="uploadFile()">Upload</button>

<progressbar animate="true" value="dynamic" type="success" class="progress-striped active"><b>{{dynamic}}%</b></progressbar>